/* .outer-box {
   width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */